<p>
  Gizzard & the Lizard Wizard is an Australian psychedelic rock band from Melbourne, formed in 2010. The band consists of Stu Mackenzie (vocals, guitar, flute), Ambrose Kenny Smith (synths, harmonica), Cook Craig (guitar), Joey Walker (guitar), Lucas Skinner (bass), Eric Moore (drums), and Michael Cavanagh (drums).

  The band are noted for their energetic live performances and their prolific recording output, having released nine full-length albums since 2012. King Gizzard & the Lizard Wizard's early work saw them primarily perform in a style that blended 1960s surf music, garage rock and psychedelic rock, but more recently have experimented with a broader range of influences, including elements of film music, folk, jazz, soul, Krautrock and heavy metal.</p>
